#manual *
  font-family arial
  font-size 20px
  
#manual 
  width 768px
  border 2px solid blue
  padding 10px
//  margin-right 5px
  
#prettyTable
  border 2px solid black
  border-collapse collapse

#prettyTable tr td
  border 1px solid black
  
.detalle
  font-size 90%

td.codigo_act
  font-size 120%
  font-weight bold
  
.imagenes
  height 132px
  width 132px
  
.destacado
  font-weight bold
  
#prettyTable tr td:first-child
  text-align:center

#prettyTable tr td:first-child

#prettyTable tr th
  font-size 80%
