#div_destino_ut{
}

#div_destino_ut table{
    width: 100%
}

#div_destino_ut td{
    overflow: hidden;
}

#grilla-ut-zona-derecha{
    vertical-align:top;
    overflow: hidden;
    max-width: 380px;
    font-size: 0.9em;
}

#grilla-ut-zona-derecha input{
    width: 100%;
}
#grilla-ut-zona-derecha th.col-desde{
    width: 15%
}
#grilla-ut-zona-derecha th.col-hasta{
    width: 15%
}
#grilla-ut-zona-derecha th.col-codigo{
    width: 12%
}
#grilla-ut-zona-derecha th.col-rescate{
    width: 10%
}
#grilla-ut-zona-derecha th.col-detalle{
    width: 48%
}

#grilla-ut-zona-izquierda{
    vertical-align:top;
    overflow: hidden;
    width:380px; 
    max-width:380px; 
    height:745px; 
    /* background-image:url(../img/0a24horas.png);  */
    background-image:url(../img/grilla.svg); 
    background-size: 666px 745px;
    background-repeat: no-repeat;
}
#tabla-rescate{
    height:256px;
    border: 1px solid black;
    font-family:Arial;
    font-size:150%;
}
#tabla-rescate div{
    margin: 4px
}
#tabla-rescate td:first-child{
    max-width:350px;
    vertical-align:top;
}
#cartel-rescate{
    font-family: Arial Narrow;
}
#boton-cerrar{
    margin: 10px
}
/*
.edit-desde{
    width:42px;
    font-size:70%;
}
.edit-hasta{
    width:42px;
    font-size:70%;
}
.edit-codigo{
    width:30px;
    font-size:70%;
}
.edit-rescate{
    width:10px;
    font-size:70%;
}
.edit-detalle{
    width:200px;
    font-size:70%;
}*/

.caja-fija{
    position:absolute;
    /*border-bottom:1px solid green;*/
    overflow:hidden;
    font-weight:bold;
    font-family:arial;
    padding:1px;
    margin:0px;
    box-sizing:border-box;
    text-align:center;
    font-size:0.8em;
    line-height:0.8em;
}

.abr-actividad{
    font-size:0.65em;
}

.edit-warning{
    background-color:#FF4;
}

.ico-actividad{
    width:42px
}

.inconsistencia{background-color:yellow; font-family:arial; font-size:80%}
.advertencia{   background-color:yellow; font-family:arial; font-size:80%}
.consistencia_ayu{background-color:yellow; font-family:arial; font-size:70%}
.inconsistencia:before{content:"Error: ";    font-weight:bold; text-decoration:underline; color:Red }
.advertencia:before{content:"Advertencia: "; font-weight:bold; }

.caja-fija.act_11 {
    background-color: #96D8EC99;
}
.caja-fija.act_13 {
    background-color: #96D8EC99;
}
.caja-fija.act_14 {
    background-color: #96D8EC99;
}
.caja-fija.act_711 {
    background-color: #51385899;
}
.caja-fija.act_712 {
    background-color: #51385899;
}
.caja-fija.act_72 {
    background-color: #51385899;
}
.caja-fija.act_73 {
    background-color: #51385899;
}
.caja-fija.act_74 {
    background-color: #51385899;
}
.caja-fija.act_911 {
    background-color: #7C478399;
}
.caja-fija.act_912 {
    background-color: #7C478399;
}
.caja-fija.act_914 {
    background-color: #7C478399;
}
.caja-fija.act_919 {
    background-color: #7C478399;
}
.caja-fija.act_921 {
    background-color: #7C478399;
}
.caja-fija.act_922 {
    background-color: #7C478399;
}
.caja-fija.act_999 {
    background-color: #7C478399;
}

.caja-fija.act_2 {
    background-color: #41A8D599;
}
.caja-fija.act_61 {
    background-color: #C89FC999;
}
.caja-fija.act_62 {
    background-color: #C89FC999;
}
.caja-fija.act_81 {
    background-color: #9E7FA099;
}
.caja-fija.act_82 {
    background-color: #9E7FA099;
}
.caja-fija.act_83 {
    background-color: #9E7FA099;
}
.caja-fija.act_84 {
    background-color: #9E7FA099;
}

.caja-fija.act_31 {
    background-color: #A1CEAC99;
}
.caja-fija.act_32 {
    background-color: #A1CEAC99;
}

.caja-fija.act_33 {
    background-color: #A1CEAC99;
}
.caja-fija.act_34 {
    background-color: #A1CEAC99;
}
.caja-fija.act_35 {
    background-color: #A1CEAC99;
}
.caja-fija.act_36 {
    background-color: #A1CEAC99;
}
.caja-fija.act_37 {
    background-color: #A1CEAC99;
}
.caja-fija.act_51 {
    background-color: #52B9A699;
}
.caja-fija.act_54 {
    background-color: #52B9A699;
}

.caja-fija.act_411 {
    background-color: #D9E69B99;
}
.caja-fija.act_412 {
    background-color: #D9E69B99;
}
.caja-fija.act_413 {
    background-color: #D9E69B99;
}
.caja-fija.act_414 {
    background-color: #D9E69B99;
}
.caja-fija.act_419 {
    background-color: #D9E69B99;
}
.caja-fija.act_421 {
    background-color: #D9E69B99;
}
.caja-fija.act_422 {
    background-color: #D9E69B99;
}
.caja-fija.act_423 {
    background-color: #D9E69B99;
}
.caja-fija.act_429 {
    background-color: #D9E69B99;
}
.caja-fija.act_431 {
    background-color: #D9E69B99;
}
.caja-fija.act_432 {
    background-color: #D9E69B99;
}
.caja-fija.act_433 {
    background-color: #D9E69B99;
}
.caja-fija.act_439 {
    background-color: #D9E69B99;
}}
.caja-fija.act_441 {
    background-color: #D9E69B99;
}
.caja-fija.act_442 {
    background-color: #D9E69B99;
}
.caja-fija.act_443 {
    background-color: #D9E69B99;   
}
.caja-fija.act_449 {
    background-color: #D9E69B99;}

p[leer-pregunta=si]{
    font-weight: bold;
    color: blue;
}

.grilla-actividades{
    display: none;
    position: fixed;
    width: 360px;
    height: 90%;
    top: 64px;
    left: 12px;
    padding: 6px;
    background: white;
    border: 1px solid gray;
}

.atencion-ayuda-diario{
    font-weight:bold;
}

.grilla-opcion .badge{
    margin-right: 3px;
    max-height: 18px;
}

/*Colores asistente de clasificación */
.grilla-opcion-1 .badge,
.grilla-opcion-11 .badge,
.grilla-opcion-13 .badge,
.grilla-opcion-14 .badge{
    background-color: #96D8EC !important;
    color: #000000 !important;
}

.grilla-opcion-2 .badge{
    background-color: #41A8D5 !important;
    color: #000000 !important;
}

.grilla-opcion-3 .badge,
.grilla-opcion-31 .badge,
.grilla-opcion-32 .badge,
.grilla-opcion-33 .badge,
.grilla-opcion-34 .badge,
.grilla-opcion-35 .badge,
.grilla-opcion-36 .badge,
.grilla-opcion-37 .badge,
.grilla-opcion-34 .badge{
    background-color: #A1CEAC !important;
    color: #000000 !important;
}

.grilla-opcion-4 .badge,
.grilla-opcion-41 .badge,
.grilla-opcion-42 .badge,
.grilla-opcion-43 .badge,
.grilla-opcion-44 .badge,
.grilla-opcion-411 .badge,
.grilla-opcion-412 .badge,
.grilla-opcion-413 .badge,
.grilla-opcion-414 .badge,
.grilla-opcion-419 .badge,
.grilla-opcion-421 .badge,
.grilla-opcion-422 .badge,
.grilla-opcion-423 .badge,
.grilla-opcion-429 .badge,
.grilla-opcion-431 .badge,
.grilla-opcion-432 .badge,
.grilla-opcion-433 .badge,
.grilla-opcion-439 .badge,
.grilla-opcion-441 .badge,
.grilla-opcion-442 .badge,
.grilla-opcion-443 .badge,
.grilla-opcion-449 .badge{
    background-color: #D9E69B !important;
    color: #000000 !important;
}

.grilla-opcion-5 .badge,
.grilla-opcion-51 .badge,
.grilla-opcion-54 .badge{
    background-color: #52B9A6 !important;
    color: #000000 !important;
}

.grilla-opcion-6 .badge,
.grilla-opcion-61 .badge,
.grilla-opcion-62 .badge{
    background-color: #C89FC9 !important;
    color: #000000 !important;
}

.grilla-opcion-7 .badge,
.grilla-opcion-71 .badge,
.grilla-opcion-72 .badge,
.grilla-opcion-73 .badge,
.grilla-opcion-74 .badge,
.grilla-opcion-711 .badge,
.grilla-opcion-712 .badge{
    background-color: #513B58 !important;
    color: #ffffff !important;
}

.grilla-opcion-8 .badge,
.grilla-opcion-81 .badge,
.grilla-opcion-82 .badge,
.grilla-opcion-83 .badge,
.grilla-opcion-84 .badge{
    background-color: #9E7FA0 !important;
    color: #ffffff !important;
}

.grilla-opcion-9 .badge,
.grilla-opcion-91 .badge,
.grilla-opcion-92 .badge,
.grilla-opcion-99 .badge,
.grilla-opcion-911 .badge,
.grilla-opcion-912 .badge,
.grilla-opcion-914 .badge,
.grilla-opcion-919 .badge,
.grilla-opcion-921 .badge,
.grilla-opcion-922 .badge,
.grilla-opcion-999 .badge{
    background-color: #7C4783 !important;
    color: #ffffff !important;
}
/*Fin colores asistente de clasificación */