#div_destino_ut{
}

#div_destino_ut table{
    width: 100%
}

#div_destino_ut td{
    overflow: hidden;
}

#grilla-ut-zona-derecha{
    vertical-align:top;
    overflow: hidden;
    max-width: 380px;
    font-size: 0.9em;
}

#grilla-ut-zona-derecha input{
    width: 100%;
}
#grilla-ut-zona-derecha th.col-desde{
    width: 15%
}
#grilla-ut-zona-derecha th.col-hasta{
    width: 15%
}
#grilla-ut-zona-derecha th.col-codigo{
    width: 12%
}
#grilla-ut-zona-derecha th.col-rescate{
    width: 10%
}
#grilla-ut-zona-derecha th.col-detalle{
    width: 48%
}

#grilla-ut-zona-izquierda{
    vertical-align:top;
    overflow: hidden;
    width:380px; 
    max-width:380px; 
    height:745px; 
    /* background-image:url(../img/0a24horas.png);  */
    background-image:url(../img/grilla.svg); 
    background-size: 666px 745px;
    background-repeat: no-repeat;
}
#tabla-rescate{
    height:256px;
    border: 1px solid black;
    font-family:Arial;
    font-size:150%;
}
#tabla-rescate div{
    margin: 4px
}
#tabla-rescate td:first-child{
    max-width:350px;
    vertical-align:top;
}
#cartel-rescate{
    font-family: Arial Narrow;
}
#boton-cerrar{
    margin: 10px
}
/*
.edit-desde{
    width:42px;
    font-size:70%;
}
.edit-hasta{
    width:42px;
    font-size:70%;
}
.edit-codigo{
    width:30px;
    font-size:70%;
}
.edit-rescate{
    width:10px;
    font-size:70%;
}
.edit-detalle{
    width:200px;
    font-size:70%;
}*/

.caja-fija{
    position:absolute;
    border-bottom:1px solid green;
    overflow:hidden;
    font-weight:bold;
    font-family:arial;
    padding:1px;
    margin:0px;
    box-sizing:border-box;
    text-align:center;
    font-size:0.8em;
    line-height:0.8em;
}

.abr-actividad{
    font-size:0.65em;
}

.edit-warning{
    background-color:#FF4;
}

.ico-actividad{
    width:42px
}

.inconsistencia{background-color:yellow; font-family:arial; font-size:80%}
.advertencia{   background-color:yellow; font-family:arial; font-size:80%}
.consistencia_ayu{background-color:yellow; font-family:arial; font-size:70%}
.inconsistencia:before{content:"Error: ";    font-weight:bold; text-decoration:underline; color:Red }
.advertencia:before{content:"Advertencia: "; font-weight:bold; }

.caja-fija.act_1 {
    background-color: #00C8EB77;
}
.caja-fija.act_13 {
    background-color: #00C8EB77;
}
.caja-fija.act_14 {
    background-color: #00C8EB77;
}

.caja-fija.act_711 {
    background-color: #61005177;
}
.caja-fija.act_72 {
    background-color: #61005177;
}
.caja-fija.act_73 {
    background-color: #61005177;
}
.caja-fija.act_74 {
    background-color: #61005177;
}
.caja-fija.act_911 {
    background-color: #61005177;
}
.caja-fija.act_912 {
    background-color: #61005177;
}
.caja-fija.act_914 {
    background-color: #61005177;
}
.caja-fija.act_921 {
    background-color: #61005177;
}
.caja-fija.act_922 {
    background-color: #61005177;
}
.caja-fija.act_999 {
    background-color: #61005177;
}

.caja-fija.act_2 {
    background-color: #002BC777;
}
.caja-fija.act_61 {
    background-color: #A605A377;
}
.caja-fija.act_62 {
    background-color: #A605A377;
}
.caja-fija.act_81 {
    background-color: #A605A377;
}
.caja-fija.act_82 {
    background-color: #A605A377;
}
.caja-fija.act_83 {
    background-color: #A605A377;
}
.caja-fija.act_84 {
    background-color: #e9bfe877;
}

.caja-fija.act_31 {
    background-color: #00913877;
}
.caja-fija.act_32 {
    background-color: #00913877;
}

.caja-fija.act_33 {
    background-color: #00ccc277;
}
.caja-fija.act_34 {
    background-color: #00ccc277;
}
.caja-fija.act_35 {
    background-color: #00ccc277;
}
.caja-fija.act_36 {
    background-color: #00ccc277;
}
.caja-fija.act_37 {
    background-color: #00ccc277;
}
.caja-fija.act_51 {
    background-color: #00ccc277;
}
.caja-fija.act_54 {
    background-color: #00ccc277;
}

.caja-fija.act_411 {
    background-color: #4AF70077;
}
.caja-fija.act_412 {
    background-color: #4AF70077;
}
.caja-fija.act_413 {
    background-color: #4AF70077;
}
.caja-fija.act_414 {
    background-color: #4AF70077;
}
.caja-fija.act_421 {
    background-color: #4AF70077;
}
.caja-fija.act_422 {
    background-color: #4AF70077;
}
.caja-fija.act_423 {
    background-color: #4AF70077;
}
.caja-fija.act_431 {
    background-color: #4AF70077;
}
.caja-fija.act_432 {
    background-color: #4AF70077;
}
.caja-fija.act_433 {
    background-color: #4AF70077;
}
.caja-fija.act_441 {
    background-color: #4AF70077;
}
.caja-fija.act_442 {
    background-color: #4AF70077;
}
.caja-fija.act_443 {
    background-color: #4AF70077;
}
