doctype html
html(lang="en")
  head
    title.Offline
  body
    div#offline
    h1 no hay conexion de internet
    p verifique su conexión de internet y vuelva a intentarlo
    a(href="campo") volver a hoja de ruta
    